xml-resources/web-service-references/Calculadora/wsdl/localhost_8080/CalculadoraSOAP/Calculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uv.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uv.org/" name="Calculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://uv.org/" schemaLocation="http://localhost:8080/CalculadoraSOAP/Calculadora?xsd=1" />
</xsd:schema>
</types>
<message name="suma">
<part name="parameters" element="tns:suma" />
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse" />
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion" />
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse" />
</message>
<message name="resta">
<part name="parameters" element="tns:resta" />
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse" />
</message>
<message name="division">
<part name="parameters" element="tns:division" />
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse" />
</message>
<portType name="Calculadora">
<operation name="suma">
<input wsam:Action="http://uv.org/Calculadora/sumaRequest" message="tns:suma" />
<output wsam:Action="http://uv.org/Calculadora/sumaResponse" message="tns:sumaResponse" />
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://uv.org/Calculadora/multiplicacionRequest" message="tns:multiplicacion" />
<output wsam:Action="http://uv.org/Calculadora/multiplicacionResponse" message="tns:multiplicacionResponse" />
</operation>
<operation name="resta">
<input wsam:Action="http://uv.org/Calculadora/restaRequest" message="tns:resta" />
<output wsam:Action="http://uv.org/Calculadora/restaResponse" message="tns:restaResponse" />
</operation>
<operation name="division">
<input wsam:Action="http://uv.org/Calculadora/divisionRequest" message="tns:division" />
<output wsam:Action="http://uv.org/Calculadora/divisionResponse" message="tns:divisionResponse" />
</operation>
</portType>
<binding name="CalculadoraPortBinding" type="tns:Calculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="suma">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="resta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="division">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Calculadora">
<port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
<soap:address location="http://localhost:8080/CalculadoraSOAP/Calculadora" />
</port>
</service>
</definitions>